{% extends "layout.html" %}

{% block container %}
<form class="max-w-md mx-auto" action="#" method="post">
    <input type="hidden" name="csrf_token" value="{{csrf_token()}}">

    <div class="mb-5">
        <label class="block text-sm font-medium text-body">Inscribir en:</label>
        <p class="text-lg font-bold text-heading">{{ curso.nombre }}</p>
    </div>

    <div class="relative z-0 w-full mb-5 group">
        <label for="alumno_id" class="text-sm text-body">Seleccionar Alumno</label>
        <select name="alumno_id" id="alumno_id" class="block py-2.5 px-0 w-full bg-transparent border-0 border-b-2 border-default-medium focus:border-brand focus:outline-none">
            {% for value, label in form.alumno_id.choices %}
                <option value="{{ value }}">{{ label }}</option>
            {% endfor %}
        </select>
    </div>

    <button type="submit" class="text-white bg-brand box-border border border-transparent hover:bg-brand-strong focus:ring-4 focus:ring-brand-medium shadow-xs font-medium leading-5 rounded-base text-sm px-4 py-2.5 focus:outline-none">Inscribir</button>
  <a href="/cursos/mostrar" class="text-white bg-brand box-border border border-transparent hover:bg-brand-strong focus:ring-4 focus:ring-brand-medium shadow-xs font-medium leading-5 rounded-base text-sm px-4 py-2.5 focus:outline-none">Cancelar</a>
</form>
{% endblock %}