{% extends "layout.html" %}

{% block container %}
<form class="max-w-md mx-auto" action="#" method="post">
  
    <input type="hidden" name="csrf_token" value="{{csrf_token()}}">

  <div class="relative z-0 w-full mb-5 group">
      <input type="number" name="id" value="{{form.id.data}}" readonly id="id_curso" class="block py-2.5 px-0 w-full text-sm text-heading bg-transparent border-0 border-b-2 border-default-medium appearance-none focus:outline-none focus:ring-0 focus:border-brand peer" placeholder=" "/>
      <label for="id_curso" class="absolute text-sm text-body duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 peer-focus:text-fg-brand peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto">Id</label>
  </div>

  <div class="relative z-0 w-full mb-5 group">
      <input type="text" name="nombre" value="{{form.nombre.data}}" id="nombre" class="block py-2.5 px-0 w-full text-sm text-heading bg-transparent border-0 border-b-2 border-default-medium appearance-none focus:outline-none focus:ring-0 focus:border-brand peer" placeholder=" " required />
      <label for="nombre" class="absolute text-sm text-body duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 peer-focus:text-fg-brand peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto">Nombre del Curso</label>
  </div>

  <div class="relative z-0 w-full mb-5 group">
      <input type="text" name="descripcion" value="{{form.descripcion.data}}" id="descripcion" class="block py-2.5 px-0 w-full text-sm text-heading bg-transparent border-0 border-b-2 border-default-medium appearance-none focus:outline-none focus:ring-0 focus:border-brand peer" placeholder=" " required />
      <label for="descripcion" class="absolute text-sm text-body duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 peer-focus:text-fg-brand peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto">Descripción</label>
  </div>

  <div class="relative z-0 w-full mb-5 group">
      <label for="maestro_id" class="text-sm text-body">Maestro Responsable</label>
      <select name="maestro_id" id="maestro_id" class="block py-2.5 px-0 w-full text-sm text-heading bg-transparent border-0 border-b-2 border-default-medium focus:outline-none focus:ring-0 focus:border-brand">
          {% for value, label in form.maestro_id.choices %}
              <option value="{{ value }}" {% if value|string == form.maestro_id.data|string %}selected{% endif %}>{{ label }}</option>
          {% endfor %}
      </select>
  </div>

  <button type="submit" class="text-white bg-brand box-border border border-transparent hover:bg-brand-strong focus:ring-4 focus:ring-brand-medium shadow-xs font-medium leading-5 rounded-base text-sm px-4 py-2.5 focus:outline-none">Guardar</button>
  <a href="/cursos/mostrar" class="text-white bg-brand box-border border border-transparent hover:bg-brand-strong focus:ring-4 focus:ring-brand-medium shadow-xs font-medium leading-5 rounded-base text-sm px-4 py-2.5 focus:outline-none">Cancelar</a>
</form>

{% endblock %}