{% extends "layout.html" %}

{% block container %}


<div class="flex flex-col items-center bg-neutral-primary-soft p-6 border border-default rounded-base shadow-xs md:flex-row md:max-w-xl md:flex-row md:max-w-xl">
    <a href="/maestros/mostrar"><img class="object-cover w-16 h-16 md:w-32 md:h-32 rounded-base mb-4 md:mb-0" src="../static/src/imagen_perfil.jpg" alt="perro panzon"></a>
    <div class="flex flex-col justify-between md:p-4 leading-normal">
        <h2 class="mb-2 text-8xl font-bold tracking-tight text-dark-backdrop">{{maestro.nombre}} {{maestro.apellidos}}</h2>
        <h3 class="mb-2 font-bold tracking-tight text-heading">{{maestro.email}}</h3>
        <h3 class="mb-2 font-bold tracking-tight text-heading">{{maestro.especialidad}}</h3>
        </div>
    </div>
</div>


{% endblock %}